---
import { Box } from '@cc/index.js';

type Props = {
  href: string;
  children: HTMLElement[];
};

const { href } = Astro.props;
---

<a href={href}>
  <div class="box invert card">
    <Box>
      <slot name="top" />
      <slot name="middle" />
      <slot name="bottom" />
    </Box>
  </div>
</a>

<style>
  .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow:
      0 0 0 1px rgb(0 0 0 / 0.1),
      0 2px 4px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.2s ease;
    background-color: var(--surface-1);
    padding: var(--size-3);
  }
</style>
