---
import Layout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { Box } from '@cc/index.js';
import TitleDate from '@components/BlogTitleDate.astro';
import { Stack } from '@cc/index.js';

const pageTitle = 'Blog';
const publishsedPosts: CollectionEntry<'blog'>[] = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);
---

<Layout pageTitle={pageTitle} surfaceClass="surface-3">
  <Stack>
    <Box
      ><p>
        Below are static lorem-ipsum blog post created in <a
          href="https://www.markdownguide.org">Markdown</a
        >. No CMS, not html, or CSS. Just a .md file basted off a template.
      </p>

      <TitleDate posts={publishsedPosts} />
    </Box>
  </Stack>
</Layout>
